apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml

configMapGenerator:
  - name: message-board-app
    files:
      - app.py
    options:
      disableNameSuffixHash: true
